.venv
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/COPYING
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/entry_points.txt
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/INSTALLER
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/METADATA
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/README.md
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/RECORD
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/REQUESTED
venv/Lib/site-packages/PyMuPDF-1.24.10.dist-info/WHEEL
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/COPYING
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/INSTALLER
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/METADATA
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/README.md
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/RECORD
venv/Lib/site-packages/PyMuPDFb-1.24.10.dist-info/WHEEL
venv/Lib/site-packages/fitz/__init__.py
venv/Lib/site-packages/fitz/table.py
venv/Lib/site-packages/fitz/utils.py
venv/Lib/site-packages/fitz/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/fitz/__pycache__/table.cpython-312.pyc
venv/Lib/site-packages/fitz/__pycache__/utils.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__init__.py
venv/Lib/site-packages/pymupdf/__main__.py
venv/Lib/site-packages/pymupdf/_apply_pages.py
venv/Lib/site-packages/pymupdf/_build.py
venv/Lib/site-packages/pymupdf/_extra.cp312-win_amd64.pyd
venv/Lib/site-packages/pymupdf/_mupdf.pyd
venv/Lib/site-packages/pymupdf/extra.py
venv/Lib/site-packages/pymupdf/mupdf.py
venv/Lib/site-packages/pymupdf/mupdfcpp64.dll
venv/Lib/site-packages/pymupdf/pymupdf.py
venv/Lib/site-packages/pymupdf/table.py
venv/Lib/site-packages/pymupdf/utils.py
venv/Lib/site-packages/pymupdf/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/__main__.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/_apply_pages.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/_build.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/extra.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/mupdf.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/pymupdf.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/table.cpython-312.pyc
venv/Lib/site-packages/pymupdf/__pycache__/utils.cpython-312.pyc
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/html.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/memento.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/ucdn.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/archive.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/band-writer.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/bidi.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/bitmap.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/buffer.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/color.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/compress.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/compressed-buffer.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/config.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/context.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/crypt.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/device.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/display-list.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/document.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/export.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/filter.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/font.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/geometry.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/getopt.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/glyph-cache.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/glyph.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/hash.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/heap-imp.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/heap.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/image.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/link.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/log.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/outline.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/output-svg.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/output.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/path.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/pixmap.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/pool.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/separation.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/shade.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/store.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/story-writer.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/story.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/stream.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/string-util.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/structured-text.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/system.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/text.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/track-usage.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/transition.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/tree.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/types.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/util.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/version.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/write-pixmap.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/writer.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/fitz/xml.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/helpers/mu-office-lib.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/helpers/mu-threads.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/helpers/pkcs7-openssl.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/annot.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/clean.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/cmap.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/crypt.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/document.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/event.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/font.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/form.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/image-rewriter.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/interpret.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/javascript.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/name-table.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/object.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/page.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/parse.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/resource.h
venv/Lib/site-packages/pymupdf/mupdf-devel/include/mupdf/pdf/xref.h
venv/Lib/site-packages/pymupdf/mupdf-devel/lib/mupdfcpp64.lib
venv/Scripts/pymupdf.exe
